//-- typo:start --//
$font-proxima: 'Proxima Nova', helvetica, sans-serif; // 300, 700
$font-proxima-alternative: 'Neue Helvetica W01', helvetica, sans-serif; // 400, 400 italic
$font-newsgothic: 'News Gothic Std', helvetica, sans-serif; // 700
//-- typo:end --//
//-- colors:start --//
$color-black: #000000;
$color-dark: #141823;
$color-lighter-2: #d26262;
//-- colors:end --//