.control-message
    padding: 1.5 * $base-indent 2.5 * $base-indent
    font-size: $fsize-smaller

    &_theme
        &_blue
            background: $color-primary-light-back

    &_theme
        &_pink
            color: $color-pink
            background: $color-primary-light-pink